# Untracked files:
*.docstates
*.pidb
*.nupkg
*.suo
*.userprefs
*.user
*ReSharper*
packages/*
Help/*
C5.Concurrent/bin/*
C5.Concurrent/obj/*
C5.Concurrent.Tests/bin/*
C5.Concurrent.Tests/obj/*

# Include
!/.nuget/*
